//Variables

$color1 : #ebebeb;
$color2 : #ffffff;
$color3 : #cecece;
$color4 : #7d7d7d;
$color5 : #d33f3a;
$color6 : #cccccc;

$font1 : 'Montserrat', sans-serif;
$font2 : 'Open Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color1;
    height: 1500px;
    
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .item {
        background-color: $color2;
        margin: 20px;  
        width: 45vw; 
        max-width: 800px;
        min-width: 300px;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 2px 2px $color3;
    }
}



h1, h2, h3 {
    font-family: $font1;
    padding: 0.5em;
}

h2, h3 {
    color: $color4;
}

h1 {
    color: $color5;
}

header {
    text-align: center;

    img {
        border: 5px solid $color6;
        border-radius: 150px;
        margin: auto;
        width: 20%;
    }

    a {
        text-decoration: none;
        font-family: $font2;
        color: $color2;
        background-color: $color5;
        padding: 1em;
        border-radius: 0.5em;
    }

    p {
        text-align: justify;
        font-family: $font2;
        font-size: 1.3em;
        line-height: 1.7em;
        color: $color4;
        margin-bottom: 1.5em;
    }
}



nav {
    
    ul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.7em 5em;
    list-style-type: none;
    }

    li {
        font-size: 1.3em;
        margin: auto;
    }

    .fab {
        text-decoration: none;
        font-size: 1.7em;
        text-align: center;
        color: $color6;
        padding-top: 0.5em;

        p {
            font-size: 0.5em;
            font-family: $font1;
            padding: 10%;
        }

        &:hover {
            background-color: $color4;
            color: $color2;
            
        }
    }
    
}


/*--------------- section -----------------*/

.Video {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
   
    h2 {
        text-align: center;
        padding-bottom: 2em;
    }
}

#Odyssey, #Hulot, #Alien{
    overflow: auto;
}

#imgVideo1, #imgVideo2, #imgVideo3{
    float: left;
    width: 25%;
    margin: auto 1em;
    padding: 1em;
    min-width: 100px;

}

.text {
    font-family: $font2;
    color: $color4;

    h3 {
        text-align: center;
        font-size: 1.5em;
    }

    p {
        text-align: justify;
        font-size: 1.1em;
    }
}


@media only screen and (max-width: 600px) {
    .item {
        width: 300px;
    }

    #Odyssey, #Hulot, #Alien {
        display: block;

    }
    #imgVideo1, #imgVideo2, #imgVideo3{
        float: none;
        clear: right;
        margin: auto;
        width: 98%;
    }
}